.App {
  text-align: center;
  background-color: #344e41;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

h1 {
  color: #dad7cd;
}

a {
  color: #a3b18a;
  text-decoration: none;
  padding: 2em;
}

label {
  font-size: 1.5em;
  padding: 1em;
  color: #dad7cd;
}

button {
  background-color: #dad7cd;
  color: #344e41;
  border: 1px solid white;
  margin: 1em;
}
